### 1. Addition & Average of Three Float Numbers

In [1]:
# Input three float numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

# Calculate addition and average
total = num1 + num2 + num3
average = total / 3

print(f"Addition: {total}")
print(f"Average: {average}")

Enter first number:  356
Enter second number:  256
Enter third number:  254

Addition: 866.0
Average: 288.6666666666667

### 2. Volume of a Sphere with Radius 6 cm

In [2]:
import math

# Radius of the sphere
radius = 6

# Volume of the sphere
volume = (4/3) * math.pi * (radius ** 3)

print(f"Volume of the sphere: {volume:.2f} cubic cm")

Volume of the sphere: 904.78 cubic cm

### 3. Area of a Circle

In [3]:
import math

# Radius of the circle
radius = float(input("Enter the radius of the circle: "))

# Area of the circle
area = math.pi * (radius ** 2)

print(f"Area of the circle: {area:.2f}")

Enter the radius of the circle:  25

Area of the circle: 1963.50

### 4. Compute Simple Interest

In [4]:
# Input principal, rate, and time
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the rate of interest: "))
time = float(input("Enter the time (in years): "))

# Calculate simple interest
interest = (principal * rate * time) / 100

print(f"Simple Interest: {interest:.2f}")

Enter the principal amount:  100000
Enter the rate of interest:  20
Enter the time (in years):  3

Simple Interest: 60000.00

### 5. Swap Two Numbers Without Using a Third Variable

In [5]:
# Input two numbers
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

# Swap numbers
a, b = b, a

print(f"After swapping: a = {a}, b = {b}")

Enter first number:  56
Enter second number:  69

After swapping: a = 69.0, b = 56.0

### 6. Convert Celsius to Fahrenheit

In [7]:
# Input temperature in Celsius
celsius = float(input("Enter temperature in Celsius: "))

# Convert to Fahrenheit
fahrenheit = (celsius * 9/5) + 32

print(f"Temperature in Fahrenheit: {fahrenheit:.2f}")

Enter temperature in Celsius:  48

Temperature in Fahrenheit: 118.40

### 7. Convert Days to Years, Months, Weeks, and Days

In [10]:
# Input number of days
total_days = int(input("Enter number of days: "))

# Calculate years, months, weeks, and days
years = total_days // 365
days = total_days % 365
months = days // 30
days %= 30
weeks = days // 7
days %= 7

print(f"{years} years, {months} months, {weeks} weeks, and {days} days")

Enter number of days:  1778

4 years, 10 months, 2 weeks, and 4 days

### 8. Gravitational Force Between Two Objects

In [11]:
# Constants
G = 6.67430e-11  # Gravitational constant

# Input masses and distance
m1 = float(input("Enter mass of the first object (kg): "))
m2 = float(input("Enter mass of the second object (kg): "))
d = float(input("Enter distance between the objects (m): "))

# Calculate gravitational force
force = G * (m1 * m2) / (d ** 2)

print(f"Gravitational Force: {force:.2e} N")

Enter mass of the first object (kg):  32
Enter mass of the second object (kg):  45
Enter distance between the objects (m):  61

Gravitational Force: 2.58e-11 N

### 9. Check if a Number is Even or Odd

In [12]:
# Input number
num = int(input("Enter a number: "))

# Check if even or odd
if num % 2 == 0:
    print("The number is Even.")
else:
    print("The number is Odd.")

Enter a number:  132

The number is Even.

### 10. Conditional Output Based on User Input

In [13]:
# Input number
num = float(input("Enter a number: "))

# Calculate and print based on condition
difference = num - 15
if num > 15:
    result = 2 * difference
else:
    result = 4 * difference

print(f"Result: {result}")

Enter a number:  369

Result: 708.0

### 11. Find Largest Among Three Numbers

In [14]:
# Input three numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

# Find the largest number
largest = max(num1, num2, num3)

print(f"Largest number is: {largest}")

Enter first number:  125
Enter second number:  238
Enter third number:  369

Largest number is: 369.0

### 12. Check Triangle Type

In [16]:
# Input three sides of a triangle
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))

# Check triangle type
if a == b == c:
    print("The triangle is Equilateral.")
elif a == b or b == c or a == c:
    print("The triangle is Isosceles.")
else:
    print("The triangle is Scalene.")

Enter side a:  25
Enter side b:  25
Enter side c:  25

The triangle is Equilateral.

### 13. Check Leap Year

In [19]:
# Input year
year = int(input("Enter a year: "))

# Check if leap year
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("It is a Leap Year.")
else:
    print("It is not a Leap Year.")

Enter a year:  2028

It is a Leap Year.

### 14. Grade Based on Marks

In [20]:
# Input marks for four subjects
marks = [float(input(f"Enter marks for subject {i+1}: ")) for i in range(4)]

# Calculate average
average = sum(marks) / 4

# Determine grade
if average >= 75:
    grade = 'A'
elif average >= 60:
    grade = 'B'
elif average >= 40:
    grade = 'C'
else:
    grade = 'D'

print(f"Average Marks: {average:.2f}, Grade: {grade}")

Enter marks for subject 1:  85
Enter marks for subject 2:  91
Enter marks for subject 3:  95
Enter marks for subject 4:  98

Average Marks: 92.25, Grade: A

### 15. Simple Calculator

In [21]:
# Input operation and numbers
operation = input("Enter operation (+, -, *, /): ")
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Perform calculation
if operation == '+':
    result = num1 + num2
elif operation == '-':
    result = num1 - num2
elif operation == '*':
    result = num1 * num2
elif operation == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error: Division by zero"
else:
    result = "Invalid operation"

print(f"Result: {result}")

Enter operation (+, -, *, /):  +
Enter first number:  23546
Enter second number:  32645

Result: 56191.0

### 16. Roots of a Quadratic Equation

In [27]:
import cmath

# Input coefficients
a = float(input("Enter coefficient a: "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter coefficient c: "))

# Calculate the roots
d = (b ** 2) - (4 * a * c)
root1 = (-b + cmath.sqrt(d)) / (2 * a)
root2 = (-b - cmath.sqrt(d)) / (2 * a)

print(f"Roots: {root1} and {root2}")

Enter coefficient a:  1
Enter coefficient b:  5
Enter coefficient c:  6

Roots: (-2+0j) and (-3+0j)

### 17. Print Numbers from 1 to n

In [29]:
# Input number
n = int(input("Enter a number: "))

# Print numbers from 1 to n
for i in range(1, n+1):
    print(i, end=' ')
print()

Enter a number:  108

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108

### 18. Sum of Natural Numbers

In [30]:
# Input number
n = int(input("Enter a number: "))

# Calculate sum of natural numbers
total_sum = sum(range(1, n+1))

print(f"Sum of natural numbers up to {n}: {total_sum}")

Enter a number:  369

Sum of natural numbers up to 369: 68265

### 19. Sum of Digits

In [33]:
# Input number
number = int(input("Enter a number: "))

# Calculate sum of digits
sum_digits = sum(int(digit) for digit in str(number))

print(f"Sum of digits: {sum_digits}")

Enter a number:  25559988

Sum of digits: 51

### 20. Factors of a Number

In [34]:
# Input number
number = int(input("Enter a number: "))

# Calculate factors
factors = [i for i in range(1, number + 1) if number % i == 0]

print(f"Factors of {number}: {factors}")

Enter a number:  1778

Factors of 1778: [1, 2, 7, 14, 127, 254, 889, 1778]

### 21. Reverse of a Number

In [36]:
# Input number
number = int(input("Enter a number: "))

# Reverse the number
reversed_number = int(str(number)[::-1])

print(f"Reverse of the number: {reversed_number}")

Enter a number:  8063615498

Reverse of the number: 8945163608

### 22. Factorial of a Given Number

In [39]:
import math

# Input number
number = int(input("Enter a number: "))

# Calculate factorial
factorial = math.factorial(number)

print(f"Factorial of {number}: {factorial}")

Enter a number:  18

Factorial of 18: 6402373705728000

### 23. Check Palindrome

In [41]:
# Input number
number = int(input("Enter a number: "))

# Check if palindrome
is_palindrome = str(number) == str(number)[::-1]

print(f"The number is {'a palindrome' if is_palindrome else 'not a palindrome'}.")

Enter a number:  12321

The number is a palindrome.

### 24. Check Prime Number

In [48]:
# Input number
number = int(input("Enter a number: "))

# Check if the number is prime
if number < 2:
    print(f"{number} is not a prime number.")
else:
    is_prime = True
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            is_prime = False
            break
    
    if is_prime:
        print(f"{number} is a prime number.")
    else:
        print(f"{number} is not a prime number.")

Enter a number:  21577

21577 is a prime number.

### 25. Check Armstrong Number

In [50]:
# Input number
number = int(input("Enter a number: "))

# Check if Armstrong number
num_str = str(number)
num_len = len(num_str)
sum_of_powers = sum(int(digit) ** num_len for digit in num_str)

print(f"{number} is {'an Armstrong number' if sum_of_powers == number else 'not an Armstrong number'}.")

Enter a number:  54748

54748 is an Armstrong number.

### 26. Fibonacci Series of n Terms

In [51]:
# Input number of terms
n = int(input("Enter number of terms: "))

# Generate Fibonacci series
a, b = 0, 1
for _ in range(n):
    print(a, end=' ')
    a, b = b, a + b
print()

Enter number of terms:  18

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

### 27. Multiplication Table

In [53]:
# Input number
num = int(input("Enter a number: "))

# Print multiplication table
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number:  369

369 x 1 = 369
369 x 2 = 738
369 x 3 = 1107
369 x 4 = 1476
369 x 5 = 1845
369 x 6 = 2214
369 x 7 = 2583
369 x 8 = 2952
369 x 9 = 3321
369 x 10 = 3690

### 28. Input and Print List

In [54]:
# Input list items
items = input("Enter items separated by commas: ").split(',')

# Print the list
print(f"List: {items}")

Enter items separated by commas:  CAT,DOG,LION,TIGER,ELEPHANT,WOLF,GORILLA,CHEETAH

List: ['CAT', 'DOG', 'LION', 'TIGER', 'ELEPHANT', 'WOLF', 'GORILLA', 'CHEETAH']

### 29. Average of n Numbers Using List

In [55]:
# Input numbers
numbers = list(map(float, input("Enter numbers separated by commas: ").split(',')))

# Calculate average
average = sum(numbers) / len(numbers)

print(f"Average of the numbers: {average:.2f}")

Enter numbers separated by commas:  254,368,216,312,456,369,178,878

Average of the numbers: 378.88

### 30. Find Largest Element in a List

In [57]:
# Input list items
items = list(map(float, input("Enter numbers separated by commas: ").split(',')))

# Find largest element
largest = max(items)

print(f"Largest element in the list: {largest}")

Enter numbers separated by commas:  269,3256,984,325,6521,942,3567,2541,8462,8788

Largest element in the list: 8788.0

### 31. Linear Search

In [61]:
# Input list and target value
items = list(map(int, input("Enter numbers separated by commas: ").split(',')))
target = int(input("Enter the value to search: "))

# Perform linear search
found = target in items

print(f"Value {'found' if found else 'not found'} in the list.")

Enter numbers separated by commas:  1256,2536,5468,2564,9781,35648,2546,2541,3569,7888,2582,2858
Enter the value to search:  2564

Value found in the list.

### 32. Capitalize Input Lines

In [63]:
# Input multiple lines
lines = []
print("Enter lines of text (type 'done' to finish):")
while True:
    line = input()
    if line.lower() == 'done':
        break
    lines.append(line)

# Print capitalized lines
for line in lines:
    print(line.upper())

Enter lines of text (type 'done' to finish):

  Artificial Intelligence is an idea that has been captivating society since the mid-20th century. It began with science fiction familiarizing the world with the concept but the idea was not fully seen in the scientific manner until Alan Turing, a polymath, was curious about the feasibility of the concept. Turing's ground-breaking 1950 paper, "Computing Machinery and Intelligence," posed fundamental questions about machine reasoning similar to human intelligence, significantly contributing to the conceptual groundwork of AI. The development of AI was not very rapid at first because of the high costs and the fact that computers were not able to store commands. This changed during the 1956 Dartmouth Summer Research Project on AI where there was an inspiring call for AI research, setting the precedent for two decades of rapid advancements in the field.[25]  Since the founding of AI in the 1950s, artists and researchers have used artificial intelligence to create artistic works. By the early 1970s, Harold Cohen was creating and exhibiting generative AI works created by AARON, the computer program Cohen created to generate paintings.Markov chains have long been used to model natural languages since their development by Russian mathematician Andrey Markov in the early 20th century. Markov published his first paper on the topic in 1906,and analyzed the pattern of vowels and consonants in the novel Eugeny Onegin using Markov chains. Once a Markov chain is learned on a text corpus, it can then be used as a probabilistic text generator
 done

 ARTIFICIAL INTELLIGENCE IS AN IDEA THAT HAS BEEN CAPTIVATING SOCIETY SINCE THE MID-20TH CENTURY. IT BEGAN WITH SCIENCE FICTION FAMILIARIZING THE WORLD WITH THE CONCEPT BUT THE IDEA WAS NOT FULLY SEEN IN THE SCIENTIFIC MANNER UNTIL ALAN TURING, A POLYMATH, WAS CURIOUS ABOUT THE FEASIBILITY OF THE CONCEPT. TURING'S GROUND-BREAKING 1950 PAPER, "COMPUTING MACHINERY AND INTELLIGENCE," POSED FUNDAMENTAL QUESTIONS ABOUT MACHINE REASONING SIMILAR TO HUMAN INTELLIGENCE, SIGNIFICANTLY CONTRIBUTING TO THE CONCEPTUAL GROUNDWORK OF AI. THE DEVELOPMENT OF AI WAS NOT VERY RAPID AT FIRST BECAUSE OF THE HIGH COSTS AND THE FACT THAT COMPUTERS WERE NOT ABLE TO STORE COMMANDS. THIS CHANGED DURING THE 1956 DARTMOUTH SUMMER RESEARCH PROJECT ON AI WHERE THERE WAS AN INSPIRING CALL FOR AI RESEARCH, SETTING THE PRECEDENT FOR TWO DECADES OF RAPID ADVANCEMENTS IN THE FIELD.[25]  SINCE THE FOUNDING OF AI IN THE 1950S, ARTISTS AND RESEARCHERS HAVE USED ARTIFICIAL INTELLIGENCE TO CREATE ARTISTIC WORKS. BY THE EARLY 1970S, HAROLD COHEN WAS CREATING AND EXHIBITING GENERATIVE AI WORKS CREATED BY AARON, THE COMPUTER PROGRAM COHEN CREATED TO GENERATE PAINTINGS.MARKOV CHAINS HAVE LONG BEEN USED TO MODEL NATURAL LANGUAGES SINCE THEIR DEVELOPMENT BY RUSSIAN MATHEMATICIAN ANDREY MARKOV IN THE EARLY 20TH CENTURY. MARKOV PUBLISHED HIS FIRST PAPER ON THE TOPIC IN 1906,AND ANALYZED THE PATTERN OF VOWELS AND CONSONANTS IN THE NOVEL EUGENY ONEGIN USING MARKOV CHAINS. ONCE A MARKOV CHAIN IS LEARNED ON A TEXT CORPUS, IT CAN THEN BE USED AS A PROBABILISTIC TEXT GENERATOR

### 33. Comma-Separated Numbers to List and Tuple

In [64]:
# Input comma-separated numbers
input_string = input("Enter comma-separated numbers: ")

# Generate list and tuple
numbers_list = input_string.split(',')
numbers_tuple = tuple(numbers_list)

print(f"List: {numbers_list}")
print(f"Tuple: {numbers_tuple}")

Enter comma-separated numbers:   3,5,7,23

List: [' 3', '5', '7', '23 ']
Tuple: (' 3', '5', '7', '23 ')

### 34. Net Amount from Transaction Log

In [65]:
# Input transaction log
transactions = input("Enter transactions (e.g., 'D 100 W 200'): ").split()

# Initialize balance
balance = 0

# Process transactions
for i in range(0, len(transactions), 2):
    action = transactions[i]
    amount = int(transactions[i + 1])
    if action == 'D':
        balance += amount
    elif action == 'W':
        balance -= amount

print(f"Net amount: {balance}")

Enter transactions (e.g., 'D 100 W 200'):  D 300 D 300 W 200 D 100

Net amount: 500